/* $Id$ */
h1 {
	text-align: center;
}
h2 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: large;
}
h3, h4, h5 {
	font-family: sans-serif;
	font-weight: bold;
}
body {
	background-color: silver;
}
dt {
	font-family: sans-serif;
	font-weight: bold;
}
p { /* assume to be in an European language. */
	text-indent: 5ex;
	font-family: serif;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
p.caveat {
	text-align: center;
	font-size: large;
	text-indent: 0pt;
	color: red;
}
span.warning {
	font-family: sans-serif;
	color: red;
}
p.note {
	color: teal;
	text-indent: 0em;
}
address {
	text-align: right;
	font-style: normal;
}
div.header {
	text-align: center;
}
